/* #region restart */
body {
  font-family: "Inter", sans-serif;
  background: #0e1823;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* #endregion restart */
/* #region base */
.container {
  margin: auto;
  width: 1280px;
  padding-left: 50px;
  padding-right: 50px;
  outline: red 1px solid;
}
/* #endregion base */
/* #region nav */
.header .container {
  background: #fbfbfb;
  display: flex;
  justify-content: space-between;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1080px;
  height: 48px;
}
.logo {
  width: 74px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.nav {
}
.nav-list {
  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  width: 91px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
}

.nav-item {
}

/* #endregion nav */

/* #region hero */
.hero {
}
.container {
}
.hero-title {
}
.hero-text {
}
.hero-link {
}
/* #endregion hero */
