/* #region restart */
body {
  font-family: "Inter", sans-serif;
  background: #0e1823;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* #endregion restart */
/* #region base */
.container {
  margin: auto;
  width: 1280px;
  padding-left: 50px;
  padding-right: 50px;
  outline: red 1px solid;
}
/* #endregion base */
/* #region nav */
.header .container {
  background: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.logo {
  width: 74px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.nav {
}
.nav-list-menu {
  display: flex;
  gap: 4px;
}
.nav-item {
  border-radius: 8px;
  padding: 15px 25px;

  background-color: rgba(27, 65, 75, 0.5);

  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.nav-list-icon {
  display: flex;

  gap: 10px;
}

.nav-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #1b414b;
}
.social-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: tomato;
}

/* #endregion nav */

/* #region hero */
.hero {
}
.container {
}
.hero-title {
}
.hero-text {
}
.hero-link {
}
/* #endregion hero */
